@font-face {
    font-family: TripSans;
    src: url(../font/TripSans-Regular.ttf);
 }

 @font-face {
    font-family: TripSansBold;
    src: url(../font/TripSans-Bold.ttf);
 }

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: TripSans;
}

.bold {
    font-family: TripSansBold;
}

body {
    display: flex;
    justify-content: center;
    background-color: #faf1ed;
}

section {
    width: 963px;
    height: 2027.12px;
    margin: 15px 0 0 0;
    padding: 0 0 15px 0;
}

.uC {
    display: flex;
    flex-direction: column;
    position: relative;
}

.uCa, .uCc {
    display: flex;
}

.uCb {
    line-height: 1.4;
}

.lok {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uC button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: -10px;
    right: 0;
    font-family: TripSansBold;
    font-size: medium;
    color: red;
}

.post {
    width: 923px;
    height: max-content;
    margin: 0 0 10px 0;
    /* border: 1px solid #000; */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.reply {
    width: 923px;
    background-color: aquamarine;
    height: max-content;
    /* border: 1px solid #000; */
    margin: 0 0 10px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.addReply {
    width: 923px;
    background-color: aquamarine;
    height: max-content;
    margin: 0 0 10px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-start;
}

.userProfile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.userProfile img {
    border-radius: 50%;
    border: 2px solid #00AA6C;
    margin-right: 10px;
}

textarea {
    padding: 10px;
}

textarea::placeholder {
    color: #000;

}

.btnReply {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


.btnReply button{
    font-size: medium;
    width: 80px;
    cursor: pointer;
    height: 30px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    background-color: #00AA6C;
    padding: 3px 10px 3px 10px;
}

.green {
    color: #00AA6C;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-dismissible {
    position: relative;
    padding-right: 35px;
    margin-bottom: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
}

.floatingBack {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    scale: 150%;
    margin: 0 30px 30px 0;
    border-radius: 50%;
    background-color: #00AA6C;
    transition: .2s ease;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floatingBack:hover {
    background-color: #029f65;
}

.floatingBack a {
    color: white;
}