@font-face {
    font-family: TripSans;
    src: url(../font/TripSans-Regular.ttf);
 }

@font-face {
    font-family: TripSansBold;
    src: url(../font/TripSans-Bold.ttf);
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: TripSans;
}

.bold {
    font-family: TripSansBold;
}

.verify-email-body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf1ed;
}

.verify-email-container {
    height: 200px;
    width: 400px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.header * {
    margin-right: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main * {
    margin: 0 0 5px 0;
}

.main button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 200px;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
} 

a {
    color: #000;
}